body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    filter: blur(0px);
}

.input_div {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.inputarea {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 3%;
    padding: 5px;
    border: 1px solid #1470bb;
    border-radius: 5px;
}

#searchTask {
    font-size: 18px;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
}

.inputarea img:hover {
    cursor: pointer;
}

.modeToogle {
    background-color: #1470bb;
    border-radius: 10%;
    margin: 3%;
    height: 100%px;
    width: 60px;
}

#taskList {
    width: 50%;
}

.listItem span {
    margin-left: 0.5em;
}

.listItem {
    padding: 10px 35px;
    margin-bottom: 12px;
    font-size: 32px;
    background: #ddd;
}

input[type="checkbox"] {
    width: 2em;
    height: 2em;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

#addTask {
    position: sticky;
    left: 80%;
    top: 80%;
    padding: 20px;
    height: 50px;
}

#addTask:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition-duration: 300ms;
}

#addTask:active {
    transform: scale(0.9);
    transition-duration: 300ms;
}

#addTaskWindow {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    top: 30%;
    left: 38%;
    height: 20%;
    width: 20%;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 1px 20px #000;
}

#newTaskInput {
    padding: 5px;
    border: 1px solid #1470bb;
    border-radius: 5px;
    outline: none;
    margin-bottom: 4em;
}

#buttonSection {
    display: flex;
    justify-content: space-between;
}

#buttonSection button {
    padding: 0.7em;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: #1470bb;
}

#buttonSection button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 2px 2px black;
    transition-duration: 300ms;
}

#buttonSection button:active {
    transform: scale(0.9);
}